### Задание 6 на примере винного дата пакета: https://archive.ics.uci.edu/dataset/109/wine

In [153]:
import pandas as pd
import numpy as np

In [154]:
df = pd.read_csv("wine.data", header=None)
df.head(3)

# We have no titles "0" means target
TARGET = 0;
FEATURES = [1,2,3,4,5,6,7,8,9,10,11,12,13]

In [155]:
df[TARGET].value_counts()

0
2    71
1    59
3    48
Name: count, dtype: int64

In [156]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       178 non-null    int64
 1   1       178 non-null    float64
 2   2       178 non-null    float64
 3   3       178 non-null    float64
 4   4       178 non-null    float64
 5   5       178 non-null    int64
 6   6       178 non-null    float64
 7   7       178 non-null    float64
 8   8       178 non-null    float64
 9   9       178 non-null    float64
 10  10      178 non-null    float64
 11  11      178 non-null    float64
 12  12      178 non-null    float64
 13  13      178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [158]:
# Let's use the 1 and the 3 class. The 2nd class is deleted:
filtered_data = df[df[TARGET]!=1]

# Decoding classes for binary classifier: 0 means the first, 1 means the third

#filtered_data[TARGET] = np.where(filtered_data[TARGET] == 1, 0, 1)
#filtered_data[TARGET].mask(filtered_data[TARGET] == 1, 0, inplace=True)
#filtered_data[TARGET].mask(filtered_data[TARGET] == 3, 1, inplace=True)

filtered_data.loc[filtered_data[TARGET] == 2, TARGET] = 0
filtered_data.loc[filtered_data[TARGET] == 3, TARGET] = 1

x_data = filtered_data[FEATURES]
y_data = filtered_data[TARGET]



filtered_data[TARGET].value_counts()

0
0    71
1    48
Name: count, dtype: int64

In [159]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.25, random_state=7)
print (x_data.shape)
print (y_data.shape)

print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(119, 13)
(119,)
(89, 13)
(30, 13)
(89,)
(30,)

In [160]:
import xgboost as xgb

model = xgb.XGBClassifier()

model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [161]:
from sklearn.metrics import recall_score, precision_score, roc_auc_score, accuracy_score, f1_score

def evaluate_results(y_test, y_predict):
    print('Classification results:')
    f1 = f1_score(y_test, y_predict)
    print("f1: %.2f%%" % (f1 * 100.0)) 
    roc = roc_auc_score(y_test, y_predict)
    print("roc: %.2f%%" % (roc * 100.0)) 
    rec = recall_score(y_test, y_predict, average='binary')
    print("recall: %.2f%%" % (rec * 100.0)) 
    prc = precision_score(y_test, y_predict, average='binary')
    print("precision: %.2f%%" % (prc * 100.0)) 

    
evaluate_results(y_test, y_predict)

Classification results:
f1: 100.00%
roc: 100.00%
recall: 100.00%
precision: 100.00%

### Positive-Unlabeled learning

In [162]:
# Searching index by their value:---------------------------------
#np.where(filtered_data[TARGET].values==0)[0]
#np.where(filtered_data[TARGET].values==1)[0]

In [163]:
#mod_data = filtered_data.copy()
#get the indices of the positives samples
#pos_ind = np.where(mod_data.iloc[:,-1].values == 1)[0]

In [178]:
# Lets use PU:-------------------------------------------------
mod_data = filtered_data.copy()

#get the indices of the '1' samples:-----------
pos_ind = np.where(mod_data[TARGET].values == 1)[0]

#shuffle them:---------------------------------
np.random.shuffle(pos_ind)

# leave just 25% of the positives marked:------
TARGET_LENGTH=0.75

pos_sample_len = int(np.ceil(TARGET_LENGTH * len(pos_ind)))
print(f'Using {pos_sample_len}/{len(pos_ind)} as positives and unlabeling the rest')
pos_ind_sample = pos_ind[:pos_sample_len]
pos_ind_sample

Using 36/48 as positives and unlabeling the rest

array([ 88,  81,  94,  76,  84, 114, 103,  80, 109, 105,  93, 110,  90,
        79,  91,  77,  87, 117,  74, 101,  97,  83, 100, 118, 108, 107,
        98,  89,  99, 113,  86,  95, 104,  78,  72,  85], dtype=int64)

In [179]:
POSITIVE_NEGATIVE=14
mod_data[POSITIVE_NEGATIVE] = -1
mod_data.loc[pos_ind_sample,POSITIVE_NEGATIVE] = 1
print('target variable:\n', mod_data[POSITIVE_NEGATIVE].value_counts())

target variable:
 14
-1    83
 1    36
Name: count, dtype: int64

In [180]:
mod_data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
59,0,12.37,0.94,1.36,10.6,88,1.98,0.57,0.28,0.42,1.95,1.05,1.82,520,-1
60,0,12.33,1.10,2.28,16.0,101,2.05,1.09,0.63,0.41,3.27,1.25,1.67,680,-1
61,0,12.64,1.36,2.02,16.8,100,2.02,1.41,0.53,0.62,5.75,0.98,1.59,450,-1
62,0,13.67,1.25,1.92,18.0,94,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630,-1
63,0,12.37,1.13,2.16,19.0,87,3.50,3.10,0.19,1.87,4.45,1.22,2.87,420,-1
64,0,12.17,1.45,2.53,19.0,104,1.89,1.75,0.45,1.03,2.95,1.45,2.23,355,-1
65,0,12.37,1.21,2.56,18.1,98,2.42,2.65,0.37,2.08,4.60,1.19,2.30,678,-1
66,0,13.11,1.01,1.70,15.0,78,2.98,3.18,0.26,2.28,5.30,1.12,3.18,502,-1
67,0,12.37,1.17,1.92,19.6,78,2.11,2.00,0.27,1.04,4.68,1.12,3.48,510,-1
68,0,13.34,0.94,2.36,17.0,110,2.53,1.30,0.55,0.42,3.17,1.02,1.93,750,-1

In [181]:

#x_data = mod_data[FEATURES].values # just the X 
#y_labeled = mod_data[POSITIVE_NEGATIVE].values # new class (just the P & U)
#y_positive = mod_data[TARGET].values # original class

In [182]:
mod_data = mod_data.sample(frac=1)

pos_length = len(mod_data[mod_data[POSITIVE_NEGATIVE]==1])

neg_sample = mod_data[mod_data[POSITIVE_NEGATIVE]==-1][:pos_length]
sample_test = mod_data[mod_data[POSITIVE_NEGATIVE]==-1][pos_length:]
pos_sample = mod_data[mod_data[POSITIVE_NEGATIVE]==1]
print(neg_sample.shape, pos_sample.shape)

(36, 15) (36, 15)

In [183]:
sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)
sample_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
76,0,13.03,0.90,1.71,16.0,86,1.95,2.03,0.24,1.46,4.60,1.19,2.48,392,1
110,0,11.46,3.74,1.82,19.5,107,3.18,2.58,0.24,3.58,2.90,0.75,2.81,562,1
101,0,12.60,1.34,1.90,18.5,88,1.45,1.36,0.29,1.35,2.45,1.04,2.77,562,1
141,1,13.36,2.56,2.35,20.0,89,1.40,0.50,0.37,0.64,5.60,0.70,2.47,780,-1
132,1,12.81,2.31,2.40,24.0,98,1.15,1.09,0.27,0.83,5.70,0.66,1.36,560,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,1,13.11,1.90,2.75,25.5,116,2.20,1.28,0.26,1.56,7.10,0.61,1.33,425,-1
94,0,11.62,1.99,2.28,18.0,98,3.02,2.26,0.17,1.35,3.25,1.16,2.96,345,1
157,1,12.45,3.03,2.64,27.0,97,1.90,0.58,0.63,1.14,7.50,0.67,1.73,880,-1
62,0,13.67,1.25,1.92,18.0,94,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630,-1
99,0,12.29,3.17,2.21,18.0,88,2.85,2.99,0.45,2.81,2.30,1.42,2.83,406,1

In [184]:
model = xgb.XGBClassifier()

model.fit(sample_train[FEATURES].values,sample_train[TARGET].values)

y_predict = model.predict(sample_test[FEATURES].values)

evaluate_results(sample_test[TARGET].values, y_predict)

Classification results:
f1: 92.31%
roc: 91.18%
recall: 96.00%
precision: 88.89%

#### Задание
1) взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)</br>

2) сделать feature engineering</br>
3) обучить любой классификатор (какой вам нравится)</br>
4) далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть</br>
5) применить random negative sampling для построения классификатора в новых условиях</br>
6) сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)</br>
7) поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)</br>

1. По пунктам 1-6: Исходный классификатор оказался ЛУЧШЕ PU. Полагаю, мне попались те данные, где PU не работает
2. По пункту 7: При увеличении TARGET_LENGTH до 1 PU начинает работать как и обычный классификатор по точности.